:root {
  --main-bg-color: #1B1F3A;
  --main-text-color: #D7DADC;
  --nav-color: #FFBC6B;
  --main-title-color: #FFA480;
  --link-color: #72C6FF;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

main {
  width: 30vw;
}

main a:link, main a:visited {
  color: var(--link-color);
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: var(--nav-color);
  text-decoration: none;
}

article {
  width: 100%;
}

header {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--main-text-color);
}

h1 {
  margin: 0.5rem;
  text-align: center;
}

div, article {
  box-sizing: border-box;
}

.blog-card {
  border: var(--main-text-color) 1px solid;
  padding: 1rem;
  border-radius: 10px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-nav {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

footer {
  height: 10vh;
}

@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  main {
    width: 80vw;
  }

  footer {
    height: 5vh;
  }
}